/*Git test */

html{
    font-size: 14px;
    /* font-family:'Uni Sans Demo', sans-serif; */
    font-family: 'Mukta', sans-serif;
    color: #80befb;
    scroll-behavior: smooth;
}

body{
    /* margin: 1rem; */
    /* color: #fff; */
    /* background: rgb(95, 90, 90); */
    background:rgb(32, 32, 32);
    margin: 1rem;
    background-image: url(colorkit.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#imageOfMe{
    width: 20rem;
    border-radius: 20%;
    /* padding-left: 4rem;
    padding-top: 2rem; */
}

.container{
    padding: 3rem 10%;
}

h1{
    color: #80befb;
}

/* 
----------------------------
    For Animations
----------------------------
*/
/* Scrolling Animation*/
.sect{
    /*Fading Animation*/
    opacity: 0;
    transition: all 2.2s;

    /*Scroll from left animation*/
    /* opacity: 0;
    filter: blur(1px);
    transform: translateY(-10%);
    transition: all 2s; */
}

.show{
    opacity: 1;

    /*Scroll from left animation*/
    /* opacity: 1;
    filter: blur(0);
    transform: translateY(0); */
}



/* 
    Logo Animation 
*/
.icon {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    /* opacity: 1; */

    /*Scroll from left animation*/
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


/* Introduction Animation */
.introElements {
    opacity: 0;
    filter: blur(1px);
    transform: translateY(-50%);
    transition: all 1s;
}

.show{
    /* opacity: 1; */

    /*Scroll from left animation*/
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}




/* 
----------------------------
    Style the navigation menu
---------------------------- 
*/
nav{
    /* Setting up flex for navigation */
    display: flex;
    flex: 1;
    flex-direction: row; /*is set to row by default.*/
    align-items:center; /* can be: flex-start, flex-end*/
    justify-content: space-around;
    flex-wrap: wrap;
}


/* Style the list inside the menu */
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 1.5em 1.5em;
}


nav ul li a{
    text-decoration: none;
    font-size: 2rem;
    /* color: #fff; */
    color: #80befb;
    position: relative;
}

/* Simple hover animation set-up*/
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left: 0rem;
    bottom: -.2rem;  /* Distance between the bottom of word and line */
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}




/* 
----------------------------
    For section areas
----------------------------
*/
section{
    font-size: 2rem;
    color: white;

    display: grid;
    align-content: center;
}

/* Short intro section*/
.introHeading p{
    color: white;
    font-size: 2em;
}
.introHeading strong{
    font-size: 3em;
    color:#80befb

}

/* Project Cards */
#projectsContainer div{
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 30px;
    box-shadow: 2px 1px 4px gray, 1px 4px 5px rgb(20, 20, 20);
    transition: all .5s ease;
}


#projectsContainer div:hover{
    transform: translate3D(0,-1px,0) scale(1.02); 
    box-shadow: 2px 1px 1px #80befb, 1px 12px 3px rgb(20, 20, 20);
    transition: all .4s ease; /* zoom in */
}

/*
    About me Section
*/
#aboutMeSection p{
    font-size: 1.5rem;
}


/*
    Skills Section
*/
#skillsSection p{
    /* padding-left: 2rem; */
    font-size: 1.5rem;
}

#skillsSection strong u{
    font-size: 2rem;
}


/*
    Expecience Section
*/
/* #experienceInner{
    padding-left: 2rem;
} */

#experienceInner a{
    color: antiquewhite;
    transition: font-size .3s ease-in-out;
}

#experienceInner a:hover{
    color: #80befb;
    font-size: 1.2em;
}


/* #experienceSection div em{
    font-size: 1.3rem;
} */

#experienceInfo {
    font-size: 1.5rem;
}

#timePeriod{
    padding-left: 2rem;
}


/*
    Projects Section
*/
#projectsContainer{
    /* padding-left: 2rem; */
    font-size: 1.5rem;
    display: block;
    margin: 0 auto;
}

#projectsContainer div a strong u{
    color: antiquewhite;
    transition: font-size .3s ease-in-out;
}

#projectsContainer div a strong u:hover{
    /* transition-duration: .3s; */
    color: #80befb;
    font-size: 1.2em;
}

#tipInfo{
    font-size: 1.2rem;
}

/* Modify Video*/
video {
    display: block;
    margin: 0 auto;

    border-radius: 20px;
}

/*
    Resume Section
*/
#resumePDF{
    width: 85%;
    /* height: 700px; */
    height: 25em;
}

#resumeContainer{
    text-align: center;
}

#resumeFullBtn{
    width: 10rem;
    color: blue;
}


/*
    Contact Info Section
*/
#contactSection img{
    width: 10rem;
}

.icons{
    text-align: center;    
}
.icons a{
    padding: 2rem;
}

.icons a img:hover{
    /* width: 15%; */
    /* border-style:groove;
    border-width: .5rem;
    border-color: white;
    border-radius: 12%; */
    transform: scale(1.2);
    transition-duration: .3s;

}



/*
----------------------------
    Footer
----------------------------
*/
footer{
    text-align: center;
}

footer a{
    color:#80befb;
}

footer a:hover{
    color: white;
}